html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #6F6AF7;
    padding:20px;
    
    
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Delius Unicase', cursive;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px 10px 5px 35px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    color: gray;
    font-size: 9px;
    transform: translateY(-50%);
}
.search-icon img {
    width: 16px; 
    height: auto; 
}
.hamburger {
    flex-direction: column;
    cursor: pointer;
}
.hamburger-icon {
    width: 35px; 
    height: auto;
}
.social-share-icons{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
    flex-direction: column;
    align-items: center;
    z-index: 1000; 

}
.icon {
    margin: 5px 0; 
    border: 2px solid black;
    border-radius: 10%;
}

.icon img{
    width: 45px; 
    height: auto; 
}
.chatbot-icon img{
    width: 50px; 
    height: auto;
    padding: 10px;
}
.chatbot-icon{
position: fixed;
top: 90%;
right: 5%;
z-index: 1000;
background-color: white;
border-radius: 50%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;


}
.image-area{
    padding: 20px;
    margin-left:110px;
}
.image-area img{
    height: 350px;
    width: 300px;
}
.text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5D8FF;
    margin-right: 75px;
    border-radius: 15px; 
    width: 900px; 
    height: 350px; 
}

.text-area textarea {
    width: 100%; 
    height: 100%; 
    padding: 20px;
    font-size: 20px;
    border: none; 
    background-color: #E5D8FF; 
    color: #6F7373;
    border-radius: 15px; 
    box-sizing: border-box; 
    resize: none; 
    overflow: hidden; 
}
.text-area textarea:focus {
    outline: none; 
}
.container-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.card-1,.card-2,.card-3,.card-4{
    height: 100px;
    width: 250px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);    
}
.card-1{
    background-color: #929DFF;
}
.card-2{
    background-color: #734CF2;
}
.card-3{
    background-color: #D288FF;
}
.card-4{
    background-color: #000000;
}
.container-2{
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: #483EFF;
    height: 500px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.buttons-div{
    margin: 40px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    

}
.sidebar-button{
    height: 80px;
    background-color: #483EFF;
    color: white;
    border: 4px solid white;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
.active{
    background-color: #BCE0F6;
    border: none;
    color: #000000;
}
.information-div{
    margin: 30px;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}
.information-div h2{
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 10px;
    color: #04285A;
    position: relative;
    
}
.info-list{
    margin-bottom: 30px;
    font-size: 18px;
    
}
.info-list li {
    margin-bottom: 30px;
    color: #143565;
}
.strong{
    color: #04285A;
}
.next-button{
    color: white;
    background-color: #000000;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    align-self: flex-end;
    
}